html,
.article-card__photo,
.links__icon,
.blob__photo,
.colors,
img {
  filter: invert(1);
}

.header {
  background-color: #fff;
}

.podcast__player {
  filter: initial;
}

.podcast-preview__number.visited {
  color: #b8860b;
}

.player__container {
  grid-column: 1/-1;
  display: flex;
}
